html{
    min-height: 100vh;
}

body{
    background-image: linear-gradient(slategray, white);
    margin-left: 0px;
    min-height: 100vh;
}

.skill{
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    }

.popout{
    border: 2px solid slategray;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 50px;
    background-image: linear-gradient(white, grey);
}

nav{
    background-image: linear-gradient(to right,black,slategray);
}

footer{
    background-color: grey; 
    margin-bottom: 0px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
